<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="DatabaseContextContainer" connectionString="data source=insightm8.database.windows.net;initial catalog=EnrollmentV2;user id=insightm8@insightm8;Password=bdm8#2016;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="DatabaseContextContainer" connectionString="metadata=res://*/Model.DatabaseContext.csdl|res://*/Model.DatabaseContext.ssdl|res://*/Model.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IMGALIB\SQLEXPRESS;initial catalog=Test;user id=desme;password=desmE123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <appSettings>

    <!-- Dev Database -->
    <!-- <add key="ConnectionString" value="mongodb+srv://insight:zp2i2riiuUL8C9D@dev-db-recfs.mongodb.net/test?retryWrites=true;w=majority" />
    <add key="DatabaseName" value="MHN" /> -->
    <!-- Dev Database -->
    
    <!-- Stage Database -->
    <add key="ConnectionString" value="mongodb+srv://insightdevstage:wgnUXdeDrgwTrlRo@aws-west-us-dev-stage.odufm.mongodb.net/test?retryWrites=true;w=majority" />
    <add key="DatabaseName" value="mhn_stage" />
    <!-- Stage Database -->

    <!-- Live Database -->
    <!--<add key="ConnectionString" value="mongodb+srv://insight:VVoG2livbgY2bG0F@azure-west-us-live.kpupq.azure.mongodb.net/mhn?retryWrites=true&amp;w=majority" />
    <add key="DatabaseName" value="mhn" />-->
    <!-- Live Database -->

    <!-- Application Processing -->
    <add key="ManualProcess" value="true" />
    <add key="ManualProcessDataSyncReport" value="true" />
    <add key="TestEnvironment" value="true" />
    <add key="IsUploadToAzureBlob" value="false" />
    <add key="DataPullPerRequest" value="1000" />
    <add key="Source" value="MHN Data Sync Service" />
    
    <!--MHN Core Engine Bussiness Logic Configuration -->

    <!-- Blob Storage Configuration -->
    <add key="UploadToAzureBlob" value="false" />
    <add key="BlobMHNContainer" value="express-evaluation" />
    <add key="ExportFilePath" value="Output" />
    <add key="WebJobsTempLocation" value="F:\@Drop Here\Output" />
    <add key="WebJobsName" value="MHN test case" />

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=locoblob;AccountKey=t5499+otJY0B1TWrNymMFni0a7Kv0w+5WamW0mFWhcQrm70vlI9kyE1Jt8AaCkIsugC93hGHHPXhEwSYyzFo4Q==" />
    <!--<add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=imgalibstorage;AccountKey=TsP3FLzROBOTPmIc5a7Fv4XY9m1uEwxucj/XgNg4JlkooMyHEWbHacegg2641lfaROVHvqqj5YJFPch2SLskZA==" />-->
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=locoblob;AccountKey=t5499+otJY0B1TWrNymMFni0a7Kv0w+5WamW0mFWhcQrm70vlI9kyE1Jt8AaCkIsugC93hGHHPXhEwSYyzFo4Q==" />

    <add key="ClientId" value="578c9d435e8bc20eb852bb03" />
    <add key="CampaignId" value="5a3901518c018030304ff291" />

    <add key="CompanyPayload" value="gatewayltd" />
    <add key="UniqueNamePayload" value="insightin" />
    <add key="SCDNSecret" value="4ee09292faa14c88a80960940c==" />
    <add key="ContentIdentifier" value="gateway" />

  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>
